body{
  background-color: #0a2531;
}
#divHeader{
  text-align: center;
}

#header{
  font-size: 3vw;
  color: #ffffff;
  margin: 0;
}

.container {
  display: flex; /* or inline-flex */
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  justify-content: center;
}


#box{
  background-color: #3d5c5c;
  font-size: 1vw;
  color: #ffffff;
  padding: 0.5vw;
  border-radius: 1vw;
  margin: 0.7vw;
  /* width: 20%; */
  flex: 1;
  text-align: center;

}

#title{
  text-align: center;
  margin: 0;
  margin-bottom: 0.7vw;
  text-decoration: underline;
  color: #d3cf5f;

}

li{
  list-style-type: none;
}

.progress-bar {
  height: 20px;
  background: #1da1f2;
  box-shadow: 2px 14px 15px -7px rgba(30, 166, 250, 0.36);
  border-radius: 50px;
  transition: all 0.5s;
}

.progress {
  width: 40%;
  align-self: center;
}

@media (orientation: portrait) {

  .row {
    flex-direction: column;
  }

  #box{
    font-size: 3vw;
    margin: 1.5vw;
    padding: 1.5vw;
  }

  #header{
    font-size: 6vw;
  }

}